
.header-container{
    background: url(../../../images/parth-shah-e9jd6mlefeY-unsplash.jpg) no-repeat center center fixed;
    /* position: relative;
    z-index: 1; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* 
.header-container::after{
    position: absolute;
    content: "";
    top:0;
    width: 100%;
    height: 100%;
    background: rgb(12, 11, 27);
    opacity: .5;
    z-index: -1;
} */
